# Telegram Bot Token (BotFather dan olinadi)
BOT_TOKEN=8485432830:AAGGvsrT_GllrkH9AbBZRbU2xgF1agOVdPc

# Admin Telegram ID lari (vergul bilan ajratiladi)
ADMIN_IDS=7656162668

# Ma'lumotlar bazasi fayl yo'li
DB_PATH=costume_bot.db

# Admin kontakt (buyurtma uchun)
ADMIN_CONTACT=@yaqubjon_555
